<html>
  <head>
	<meta charset="utf-8" />
	<title>ZikWorld</title>
	<link href='<?php echo BASE_URL."/css/bootstrap.css";?>' rel="stylesheet" />
</head>

<body>
	<div class="container">
		<div class="page-header">
			<ul class="nav nav-pills pull-right">
				<li> <a href="<?php echo BASE_URL.'/contact';?>">Liste des contacts</a>
				</li>
				<li> <a href="<?php echo BASE_URL.'/artiste';?>">Liste des artistes</a>
				</li>
				<li> <a href="<?php echo BASE_URL.'/album';?>">Liste des albums</a>
				</li>
      </ul>
      <h3 class="muted"><a href="<?php echo BASE_URL; ?>">ZikWorld</a></h3>
		</div>
    <h3>
      Ce projet a ete realise par Lukas et Ali
    </h3>
    <p>
      Repartiton des taches<br>
      Ali<br>
      affichages des listes (artiste, album)</br>
      Ajout des artistes<br>
      Ajout des albums<br>
      Descriptif album, artiste<br>
      <br>
      Lukas<br>
      inscription<br>
      connexion<br>
      impossibilite d'ajout album ou artiste sans connexion<br>
    </p>
</html>