<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link href="<?php echo BASE_URL.'/css/bootstrap.css';?>" rel="stylesheet" />
		<title>Contacts</title>
	</head>
	<body>
		<div class="container">
			<div class="page-header">
				<ul class="nav nav-pills pull-right">
					<li> <a href="<?php echo BASE_URL.'/contact';?>">Liste des contacts</a></li>
					<li> <a href="#">A propos</a></li>
				</ul>
				<h3 class="muted">Gestion des contacts
			</h3>
		</div>
		<p class="lead">Bienvenue sur votre application de gestion de vos contacts mails.
		</p>
			<hr>
			<div class="text-center">
				<a href="<?php echo BASE_URL;?>">page d'accueil</a>
			</div>
		</footer>
	</div>
</body>
</html>
