<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<link href="<?php echo BASE_URL.'/css/bootstrap.css';?>" rel="stylesheet" />
	<title>ZikWorld</title>
</head>

<body>
	<div class="container">
		<div class="page-header">
			<ul class="nav nav-pills pull-right">
				<li> <a href="<?php echo BASE_URL.'/contact';?>">Liste des contacts</a></li>
				<li> <a href="<?php echo BASE_URL.'/artiste';?>">Liste des artistes</a></li>
				<li> <a href="<?php echo BASE_URL.'/album';?>">Liste des albums</a></li>
			</ul>
			<h3 class="muted"><a href="<?php echo BASE_URL;?>">ZikWorld</a></h3>
		</div>
		<p class="lead">Bienvenue sur le blog n°1 de musiques !
		</p>
		<div class="connexion">
			<h2>Connectez-vous</h2>
			<form method="GET" action="Connexion.php">
				Login <br>
				<input type="text" name="username"><br> Mot de passe<br>
				<input type="text" name="password"><br>
				<input type="Submit" name="Connexion" <br>
			</form>
		</div>
		<div class="inscription">
			<h2>Inscrivez-vous</h2>
			<form method="GET" action="Inscription.php">
				Login <br>
				<input type="text" name="username"><br>
				Mail<br>
				<input type="text" name="email"><br>
				Mot de passe<br>
				<input type="text" name="password"><br>
				Repetez le mot de passe<br>
				<input type="text" name="password"><br>
				<input type="Submit" name="Connexion" <br>
			</form>
		</div>
		<hr>
		<div class="text-center">
		</div>
		</footer>
	</div>
</body>

</html>