<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<link href="<?php echo BASE_URL.'/css/bootstrap.css';?>" rel="stylesheet" />
	<title>ZikWorld</title>
</head>

<body>
	<div class="container">
		<div class="page-header">
			<ul class="nav nav-pills pull-right">
				<li> <a href="<?php echo BASE_URL.'/contact';?>">Liste des contacts</a></li>
				<li> <a href="<?php echo BASE_URL.'/artiste';?>">Liste des artistes</a></li>
				<li> <a href="<?php echo BASE_URL.'/album';?>">Liste des albums</a></li>
				<li> <a href="<?php echo BASE_URL.'/connexion';?>"> Connexion</a></li>
			</ul>
			<h3 class="muted">ZikWorld
			</h3>
		</div>
		<p class="lead">Bienvenue sur le blog n°1 de musiques !
		</p>
		<h5> Si vous n'êtes pas encore inscrit : </h5>
		<h2><a href="<?php echo BASE_URL.'/inscription';?>">Inscrivez-vous</h2></a><br>
		<h5>Ou alors : </h5>
		<div class="connexion">
			<h2>Connectez-vous</h2>
			<form method="POST" action="<?php echo BASE_URL.'/connexion';?>">
				Login <br>
				<input type="text" name="username"><br> 
				Mot de passe<br>
				<input type="password" name="password"><br>
				<input type="Submit" name="Connexion" <br>
			</form>
		<div class="inscription">
		<hr>
		<div class="text-center">
			<a href="<?php echo BASE_URL;?>">page d'accueil</a>
		</div>
		</footer>
	</div>
</body>

</html>