<?php session_start(); ?>

<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>ZikWorld</title>
	<link href='<?php echo BASE_URL."/css/bootstrap.css"; ?>' rel="stylesheet" />
</head>

<body>
	<div class="container">
		<div class="page-header">
			<ul class="nav nav-pills pull-right">
				<li> <a href="<?php echo BASE_URL.'/contact'; ?>">Liste des contacts</a>
				</li>
				<li> <a href="<?php echo BASE_URL.'/artiste'; ?>">Liste des artistes</a>
				</li>
				<li> <a href="<?php echo BASE_URL.'/album'; ?>">Liste des albums</a>
				</li>
			</ul>
			<h3 class="muted"><a href="<?php echo BASE_URL; ?>">ZikWorld</a></h3>
		</div>
		<h2>
			 Inscrivez-vous
		</h2>
		<form method="POST" action="<?php echo BASE_URL.'/inscription'; ?>">
				E-mail <br>
				<input type="email" name="email"><br>
				Login <br>
				<input type="text" name="login"><br> 
				Mot de passe<br>
				<input type="password" name="mdp"><br>
				<input type="Submit" name="Inscription" <br>
			</form>
		<?php inscriptionController::ajouter();?>
		<br>
		<footer>
			<hr>
		</footer>
	</div>
</body>

</html>