<?php session_start(); ?>
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>ZikWorld</title>
	<link href='<?php echo BASE_URL."/css/bootstrap.css"; ?>' rel="stylesheet" />
</head>

<body>
	<div class="container">
		<div class="page-header">
			<ul class="nav nav-pills pull-right">
				<li> <a href="<?php echo BASE_URL.'/contact'; ?>">Liste des contacts</a>
				</li>
				<li> <a href="<?php echo BASE_URL.'/artiste'; ?>">Liste des artistes</a>
				</li>
				<li> <a href="<?php echo BASE_URL.'/album'; ?>">Liste des albums</a>
				</li>
				<?php if(isset($_SESSION['pseudo'])){
					echo "<li> Bienvenue ";
					echo $_SESSION['pseudo'];
					echo'</li>';
				}
				?>
			</ul>
			<h3 class="muted"><a href="<?php echo BASE_URL; ?>">ZikWorld</a></h3>
		</div>
		<form method="POST" action='<?php echo BASE_URL."/album/ajouter";?>'>
			<?php if(isset($_SESSION['pseudo'])){
			echo 'Titre<br>';
			echo '<input type="text" name="titre"><br>';
			echo 'Artiste<br>';
			echo '<select name="artiste"><br>';
				foreach ($this->listArtist as $result)
				echo '<option value="'.$result->idArtiste.'">'.$result->nomScene.'</option>';
			echo '</select><br>';
      echo 'Annee<br>';
			echo '<input type="date" name="annee"><br>';
      echo 'Genre<br>';
			echo '<input type="text" name="genre"><br>';
			echo '<input type="Submit" name="Ajouter">';
			echo '</form>';
			AlbumController::ajouter();
			}
			else
				echo "Vous ne pouvez pas ajouter d'albums car vous n'êtes pas connecté."?>
		<strong></strong>
		<br>
		<footer>
			<hr><p class="text-center"><a href="<?php echo BASE_URL.'/album';?>">Retour a la liste</a></p>
		</footer>
	</div>
</body>

</html>